RIDER_DATABASE_URL="postgresql://justin:postgres@localhost:5432/movve_rider"
# Server Configuration
SERVER_HOST=0.0.0.0

# Service Configuration
RIDER_SERVICE_PORT=8003
RIDER_SERVICE_HOST=127.0.0.1

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Mail Configuration
RESEND_API_KEY=re_dDWFaHgH_EDNCozRhciYiVKTvbt5j6o5p
MAIL_FROM_EMAIL=support@movve.xyz

GOOGLE_MAPS_API_KEY=ghjj
GOOGLE_CLIENT_ID=your_google_client_id

CLOUDINARY_CLOUD_NAME=africinnovate-technology
CLOUDINARY_API_KEY=838969481768341
CLOUDINARY_API_SECRET=fRvvuMlEciszKTig4TClxFyl_vo
