AUTH_DATABASE_URL = "postgresql://justin:postgres@localhost:5432/movve_auth"
# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION_HOURS=24

# Service URLs
AUTH_SERVICE_URL=http://localhost:8001
DRIVER_SERVICE_URL=http://localhost:8002

# Service Ports
AUTH_SERVICE_PORT=8001
DRIVER_SERVICE_PORT=8002



GOOGLE_CLIENT_ID=your_google_client_id

CLOUDINARY_CLOUD_NAME=africinnovate-technology
CLOUDINARY_API_KEY=838969481768341
CLOUDINARY_API_SECRET=fRvvuMlEciszKTig4TClxFyl_vo

# Mail Configuration
RESEND_API_KEY=re_dDWFaHgH_EDNCozRhciYiVKTvbt5j6o5p
MAIL_FROM_EMAIL=support@movve.xyz
FRONTEND_URL=http://localhost:3000